Repository gentoosiast/airways-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix, eslint --fix

feat: use correct values for Currency & DateFormat enums
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
  src/app/core/types/user-settings.ts
Due: prettier --write, eslint --fix

feat: save/load user settings to/from NgRx Store & LocalStorage
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/components/header/header.component.ts
  src/app/core/services/user-settings.service.ts
  src/app/shared/constants/storage.constants.ts
  src/app/shared/types/user-settings.ts
  src/app/store/actions/app.actions.ts
  src/app/store/actions/user-settings.actions.ts
  src/app/store/effects/user-settings.effects.ts
  src/app/store/effects/user.effects.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/user-settings.selectors.ts
  src/app/store/state.model.ts
Due: prettier --write, eslint --fix

fix: remove one of DateFormat values cause it's not supported by Taiga
  src/app/core/types/user-settings.ts
Due: prettier --write, eslint --fix

feat: change currency values on the fly for booking-flights
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-carousel/flight-carousel.component.html
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
Due: prettier --write, eslint --fix

refactor: change mocked data to match new price type
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/shared/types/booking.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
Due: prettier --write, eslint --fix

feat: change currency on the fly for shopping-cart & user-account pages
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/user-account-page.component.html
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

fix: complete on the fly currency change for booking-flights
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/booking/components/flight-details/flight-details.component.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
Due: prettier --write, eslint --fix

feat: change currency on the fly for booking-summary
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
Due: prettier --write, eslint --fix

feat: switch date format on the fly in date-time-widget component
  src/app/booking/components/date-time-widget/date-time-widget.component.html
  src/app/booking/components/date-time-widget/date-time-widget.component.ts
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/booking/components/flight-details/flight-details.component.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
Due: prettier --write, eslint --fix

feat: change date format on the fly in flight-card component
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-carousel/flight-carousel.component.html
Due: prettier --write, eslint --fix

feat: change date format on the fly in header component
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix

feat: change date format on the fly in booking-summary-page
  src/app/booking/components/summary-flight-card/summary-flight-card.component.html
  src/app/booking/components/summary-flight-card/summary-flight-card.component.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
Due: prettier --write, eslint --fix

feat: redesign Booking; improve bookings-table component
  src/app/app.module.ts
  src/app/booking/booking.module.ts
  src/app/booking/components/summary-flight-card/summary-flight-card.component.html
  src/app/booking/components/summary-flight-card/summary-flight-card.component.scss
  src/app/booking/components/summary-flight-card/summary-flight-card.component.spec.ts
  src/app/booking/components/summary-flight-card/summary-flight-card.component.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.scss
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/shared/pipes/flights-dates.pipe.spec.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/shared.module.ts
  src/app/shared/types/booking.ts
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
  src/app/user/pages/user-account-page/user-account-page.component.html
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: pluralize & correctly count baggage in booking-summary-page
  src/app/booking/components/summary-flight-card/summary-flight-card.component.html
  src/app/booking/components/summary-flight-card/summary-flight-card.component.ts
  src/app/booking/constants/baggage.constants.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
Due: prettier --write, eslint --fix

feat: change date format on the fly in shopping-cart & user-account page
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/user-account-page/user-account-page.component.html
Due: prettier --write, eslint --fix

fix: fix Currency enum for Polish Zloty
  src/app/core/types/user-settings.ts
Due: prettier --write, eslint --fix

feat: create factory for TUI_DATE_FORMAT
  src/app/app.module.ts
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
  src/app/core/components/flight-search-popup/flight-search-popup.component.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/factories/taiga-date-format.factory.ts
Due: prettier --write, eslint --fix

fix: delete leftover console.log in taigaDateFormat factory
  src/app/shared/factories/taiga-date-format.factory.ts
Due: prettier --write, eslint --fix

feat: get summary data from store
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/types/booking.ts
  src/app/store/actions/current-order.actions.ts
  src/app/store/actions/flight-data.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/bookings.selector.ts
  src/app/store/selectors/flight-data.selectors.ts
  src/app/store/state.model.ts
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
Due: prettier --write, eslint --fix

fix: errors after branch rebase
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/booking/pages/booking-summary-page/mockPaymentData.ts
  src/app/shared/types/flight-price.ts
  src/app/store/actions/current-order.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/bookings.selector.ts
  src/app/store/state.model.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
  src/app/user/pages/user-account-page/user-account-page.component.html
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

fix: mock data for shopping cart & user account
  src/app/user/pages/user-account-page/mockBookingsData.ts
Due: prettier --write, eslint --fix

fix: remove sinastya from the list of teammates
  README.md
  src/app/core/components/footer/footer.component.html
Due: prettier --write

refactor: review comments
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/types/flight-price.ts
  src/app/store/selectors/bookings.selector.ts
  src/app/store/utils/sum-prices.ts
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

refactor: change filter to find for booking selector
  src/app/store/selectors/bookings.selector.ts
Due: prettier --write, eslint --fix

feat: implement booking-passengers guard
  src/app/booking/booking-routing.module.ts
  src/app/booking/guards/booking-passengers.guard.ts
Due: prettier --write, eslint --fix

feat: implement booking-summary guard
  src/app/booking/booking-routing.module.ts
  src/app/booking/guards/booking-summary.guard.ts
Due: prettier --write, eslint --fix

feat: implement booking-flights guard
  src/app/booking/booking-routing.module.ts
  src/app/booking/guards/booking-flights.guard.ts
Due: prettier --write, eslint --fix

fix: use full height of the viewport
  src/app/app.component.html
  src/app/app.component.scss
Due: prettier --write, stylelint --fix

fix: fix styles of form on flight-search page
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.scss
  src/app/shared/styles/_colors.scss
Due: prettier --write, stylelint --fix

fix: add top margin to booking-passengers page
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.scss
Due: prettier --write, stylelint --fix

fix: increase icon size of shopping card; add aria-label
  src/app/core/components/header/header.component.html
Due: prettier --write

fix: remove bottom padding for flight info in the header
  src/app/core/components/header/header.component.scss
Due: prettier --write, stylelint --fix

fix: solve horizontall scroll problem in the header
  src/app/core/components/header/header.component.scss
Due: prettier --write, stylelint --fix

feat: make main page adaptive
  src/app/core/components/header/header.component.scss
Due: prettier --write, stylelint --fix

feat: implement booking editing
  src/app/booking/guards/booking-summary.guard.ts
  src/app/booking/pages/booking-passengers-page/mockData.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/types/booking.ts
  src/app/store/actions/current-order.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/bookings.selector.ts
  src/app/store/state.model.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

feat: store flights indexes for step-flights
  src/app/booking/guards/booking-passengers.guard.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/shared/types/booking.ts
  src/app/store/actions/flight-data.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/bookings.selector.ts
  src/app/store/state.model.ts
Due: prettier --write, eslint --fix

fix: flights indexes definition
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
Due: prettier --write, eslint --fix

feat: make rest of the pages adaptive (WIP)
  src/app/app.component.scss
  src/app/booking/components/date-time-widget/date-time-widget.component.scss
  src/app/booking/components/flight-card/flight-card.component.scss
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/booking/components/flight-details/flight-details.component.scss
  src/app/booking/components/passenger-contacts/passenger-contacts.component.html
  src/app/booking/components/passenger-contacts/passenger-contacts.component.scss
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.scss
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.scss
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.scss
  src/app/core/components/footer/footer.component.scss
  src/app/core/components/header/header.component.scss
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.scss
  src/app/user/pages/user-account-page/user-account-page.component.scss
Due: prettier --write, stylelint --fix, eslint --fix

feat: implement badge with the number of bookings for the shopping bag
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
Due: prettier --write, eslint --fix

feat: make bookings-table more adaptive
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/user.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write: ((any of: *.{html,json,md}) or (any of: *.{css,scss})) or (any of: *.[jt]s)
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.[jt]s
