Repository gentoosiast/airways-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{html,json,md}": "prettier --write",
  "*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "*.[jt]s": ["prettier --write", "eslint --fix"]
}

feat: add logout button with all logic
  src/app/app.module.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/services/auth.service.ts
  src/app/store/actions/user.actions.ts
  src/app/store/effects/user.effects.ts
  src/app/store/reducers/app.reducer.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: refactor newly created types according to new convention
  src/app/core/components/header/header.component.ts
  src/app/core/components/login-form/login-form.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/interfaces/login-data.ts
  src/app/core/interfaces/login-response.ts
  src/app/core/services/auth.service.ts
  src/app/core/types/login.ts
  src/app/store/actions/user.actions.ts
  src/app/store/state.model.ts
Due: prettier --write, eslint --fix

fix: rename & move user-settings enums to 'types' folder
  src/app/core/components/header/header.component.ts
  src/app/core/services/user-settings.service.ts
  src/app/core/types/user-settings.ts
Due: prettier --write, eslint --fix

fix: fix @store path alias in tsconfig.json
  tsconfig.json
Due: prettier --write

feat: implement registration
  src/app/core/components/login-form/login-form.component.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.html
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/constants/alerts.constants.ts
  src/app/core/services/auth.service.ts
  src/app/core/types/login-signup.ts
  src/environments/environment.development.ts
Due: prettier --write, eslint --fix

feat: implement saving/loading user using NgRx actions
  src/app/app.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/services/auth.service.ts
  src/app/shared/constants/storage.constants.ts
  src/app/store/actions/user.actions.ts
  src/app/store/effects/user.effects.ts
  src/app/store/reducers/app.reducer.ts
Due: prettier --write, eslint --fix

feat: implement authGuard which protects user/ routes
  src/app/app-routing.module.ts
  src/app/user/guards/auth.guard.ts
Due: prettier --write, eslint --fix

feat: send JWT token on outgoing requests
  src/app/core/core.module.ts
  src/app/core/interceptors/token.interceptor.spec.ts
  src/app/core/interceptors/token.interceptor.ts
Due: prettier --write, eslint --fix

fix: show error message on network errors
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
Due: prettier --write, eslint --fix

refactor: rename showAlertError to showErrorAlert
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
Due: prettier --write, eslint --fix

refactor: switch to new backend service
  src/environments/environment.development.ts
Due: prettier --write, eslint --fix

refactor: switch to human-readable URL for backend
  src/environments/environment.development.ts
Due: prettier --write, eslint --fix

fix: rewrite AirportsService to use new backend
  src/app/core/services/airports.service.ts
Due: prettier --write, eslint --fix

feat: update Airport type to match entity from backend
  src/app/booking/pages/booking-flights-page/mockData.ts
  src/app/booking/types/airport.ts
Due: prettier --write, eslint --fix

feat: move 'passenger selector' widget to its own component
  src/app/flight-search/flight-search.module.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.html
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.scss
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/components/passenger-select/passenger-select.component.html
  src/app/shared/components/passenger-select/passenger-select.component.scss
  src/app/shared/components/passenger-select/passenger-select.component.spec.ts
  src/app/shared/components/passenger-select/passenger-select.component.ts
  src/app/shared/shared.module.ts
  src/app/shared/validators/adultValidator.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: improve handling of HTTP errors
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/services/auth.service.ts
Due: prettier --write, eslint --fix

fix: submit flight-search form correctly
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.html
Due: prettier --write

fix: fix runtime errors in passenger-select component, simplify logic
  src/app/shared/components/passenger-select/passenger-select.component.html
  src/app/shared/components/passenger-select/passenger-select.component.ts
Due: prettier --write, eslint --fix

refactor: remove dead code from passenger-select
  src/app/shared/components/passenger-select/passenger-select.component.ts
Due: prettier --write, eslint --fix

refactor: add return types to all methods of passenger-select
  src/app/shared/components/passenger-select/passenger-select.component.ts
Due: prettier --write, eslint --fix

feat: implement adding & removing booking
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/shared/pipes/passengers-data.pipe.ts
  src/app/shared/types/booking.ts
  src/app/store/actions/current-order.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/bookings.selector.ts
  src/app/store/state.model.ts
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/mockBookingsData.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
Due: prettier --write, eslint --fix

fix: review comments
  package-lock.json
  package.json
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/shared/types/booking.ts
  src/app/store/actions/current-order.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
Due: prettier --write, eslint --fix

fix: fix linter problems
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/pipes/passengers-data.pipe.ts
Due: prettier --write, eslint --fix

feat: save/load Flight Search data to/from NgRx store
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/types/flight-data.ts
  src/app/store/actions/flight-data.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/flight-data.selectors.ts
  src/app/store/state.model.ts
Due: prettier --write, eslint --fix

fix: disable spellchecking for airport search inputs
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.html
Due: prettier --write

feat: add section with info about selected flights to header (WIP)
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
  src/app/core/pipes/count-passengers.pipe.spec.ts
  src/app/core/pipes/count-passengers.pipe.ts
  src/assets/icons/person.svg
  src/assets/icons/plane-directions.svg
Due: prettier --write, stylelint --fix, eslint --fix

feat: switch booking-flights page to real backend data
  src/app/booking/booking.module.ts
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-flights-page/mockData.ts
  src/app/booking/types/flight.ts
  src/app/booking/types/flights-request.ts
  src/app/booking/types/flights-response.ts
  src/app/core/services/flights.service.spec.ts
  src/app/core/services/flights.service.ts
  src/app/shared/types/flight-price.ts
Due: prettier --write, eslint --fix

refactor: use selected flight date as starting value for flight-carousel
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
Due: prettier --write, eslint --fix

feat: save/load booking-flights data to/from the Store
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/types/flights-response.ts
  src/app/core/services/flights.service.ts
  src/app/shared/types/flight.ts
  src/app/shared/types/flights.ts
  src/app/store/actions/flight-data.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/flight-data.selectors.ts
  src/app/store/state.model.ts
Due: prettier --write, eslint --fix

fix: fix 'Flight' imports after refactoring
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
  src/app/booking/components/flight-details/flight-details.component.ts
Due: prettier --write, eslint --fix

refactor: rewrite data use for booking-flights-page & flight-search-page
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.html
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
  src/app/core/services/flights.service.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/types/flights-request.ts
Due: prettier --write, eslint --fix

feat: implement popup for searching flights
  src/app/core/components/flight-search-popup/flight-search-popup.component.html
  src/app/core/components/flight-search-popup/flight-search-popup.component.scss
  src/app/core/components/flight-search-popup/flight-search-popup.component.spec.ts
  src/app/core/components/flight-search-popup/flight-search-popup.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: remove commented-out style of flight-search-popup
  src/app/core/components/flight-search-popup/flight-search-popup.component.scss
Due: prettier --write, stylelint --fix

feat: add saving/loading to/from the NgRx Store of passengers info
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.html
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/shared/types/passengers.ts
  src/app/store/actions/flight-data.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/flight-data.selectors.ts
  src/app/store/state.model.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
Due: prettier --write, eslint --fix

refactor: update codebase to use new backend flight price data
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/shared/types/flight-price.ts
Due: prettier --write, eslint --fix

feat: implement simple generation of seats for passengers
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
  src/app/booking/pages/booking-passengers-page/random-generator.ts
Due: prettier --write, eslint --fix

feat: add production environment to use real backend
  angular.json
  src/environments/environment.production.ts
Due: prettier --write, eslint --fix

fix: remove leftover console.log
  src/app/core/components/flight-search-popup/flight-search-popup.component.ts
Due: prettier --write, eslint --fix

fix: use real, not hardcoded value for weekday in flight-card
  src/app/booking/components/flight-card/flight-card.component.html
Due: prettier --write

fix: use GMT timezone for weekdays in flight-card
  src/app/booking/components/flight-card/flight-card.component.html
Due: prettier --write
