Repository gentoosiast/airways-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{html,json,md}": "prettier --write",
  "*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "*.[jt]s": ["prettier --write", "eslint --fix"]
}

fix: back button for summary page
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
Due: prettier --write, eslint --fix

fix: bookings selection on the cart page
  src/app/store/reducers/app.reducer.ts
  src/app/store/state.model.ts
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
Due: prettier --write, eslint --fix

feat: finish checkout process for selected bookings
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
Due: prettier --write, eslint --fix

refactor: review comments
  src/app/store/actions/current-order.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
Due: prettier --write, eslint --fix

feat: style table
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
Due: prettier --write, stylelint --fix

fix: shopping cart's buttons style
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
Due: prettier --write, stylelint --fix

fix: search form margin
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.scss
Due: prettier --write, stylelint --fix

fix: display message if no bookings found in shopping-cart/user-account
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
Due: prettier --write, stylelint --fix

feat: implement flight type selector in the modal
  src/app/core/components/flight-search-popup/flight-search-popup.component.html
  src/app/core/components/flight-search-popup/flight-search-popup.component.scss
  src/app/core/components/flight-search-popup/flight-search-popup.component.ts
  src/app/core/core.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: adapt style for flight details
  src/app/booking/components/flight-details/flight-details.component.scss
Due: prettier --write, stylelint --fix

fix: use GMT time (as in the rest of the app) in date-time widget
  src/app/booking/components/date-time-widget/date-time-widget.component.html
Due: prettier --write

feat: add notes for Reviewer1/Student1
  NOTES.md
Due: prettier --write

fix: hide flight-details component if there are no seats
  src/app/booking/components/flight-details/flight-details.component.html
Due: prettier --write

fix: getting data for summary page
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/store/selectors/bookings.selector.ts
Due: prettier --write, eslint --fix

fix: add link to backend GitHub repo
  NOTES.md
Due: prettier --write

fix: clear store when necessary
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/store/actions/current-order.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

fix: clear more data from store
  src/app/store/reducers/app.reducer.ts
Due: prettier --write, eslint --fix

feat: add alert after checkout
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
Due: prettier --write, eslint --fix

fix: fix table component after unaccurate merge (my bad!)
  src/app/user/components/bookings-table/bookings-table.component.html
Due: prettier --write

fix: update NOTES.md with info about airport search
  NOTES.md
Due: prettier --write

fix: page not found style
  src/app/core/pages/not-found-page/not-found-page.component.scss
Due: prettier --write, stylelint --fix
