Repository gentoosiast/airways-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix, eslint --fix

refactor: rename 'selected' to 'isSelected' in flight-card
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-selector/flight-selector.component.html
Due: prettier --write, eslint --fix

feat: implement select all bookings functionality & add some styles
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/constants/shopping-cart.constant.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: review comments
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/progress-bar/progress-bar.component.ts
  src/app/core/core.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: refine SeatsDirective to react on changes
  src/app/booking/directives/seats.directive.ts
Due: prettier --write, eslint --fix

feat: add pipes & style to table
  src/app/shared/models/booking-data.model.ts
  src/app/shared/pipes/endpoints.pipe.spec.ts
  src/app/shared/pipes/endpoints.pipe.ts
  src/app/shared/pipes/flights-dates.pipe.spec.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/pipes/passengers-data.pipe.spec.ts
  src/app/shared/pipes/passengers-data.pipe.ts
  src/app/shared/shared.module.ts
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/constants/shopping-cart.constant.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/user.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: create SCSS partial with typography styles
  src/app/shared/styles/_typography.scss
Due: prettier --write, stylelint --fix

feat: implement flight-carousel & flight-details
  src/app/booking/booking.module.ts
  src/app/booking/components/date-time-widget/date-time-widget.component.html
  src/app/booking/components/date-time-widget/date-time-widget.component.scss
  src/app/booking/components/date-time-widget/date-time-widget.component.spec.ts
  src/app/booking/components/date-time-widget/date-time-widget.component.ts
  src/app/booking/components/flight-card/flight-card.component.scss
  src/app/booking/components/flight-carousel/flight-carousel.component.html
  src/app/booking/components/flight-carousel/flight-carousel.component.scss
  src/app/booking/components/flight-carousel/flight-carousel.component.spec.ts
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/booking/components/flight-details/flight-details.component.scss
  src/app/booking/components/flight-details/flight-details.component.spec.ts
  src/app/booking/components/flight-details/flight-details.component.ts
  src/app/booking/components/flight-selector/flight-selector.component.spec.ts
  src/app/booking/components/flight-selector/flight-selector.component.ts
  src/app/booking/interfaces/flight.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.scss
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/mockData.ts
  src/app/booking/pipes/flight-connections.pipe.spec.ts
  src/app/booking/pipes/flight-connections.pipe.ts
  src/app/booking/pipes/human-readable-time.pipe.spec.ts
  src/app/booking/pipes/human-readable-time.pipe.ts
  src/app/core/interfaces/airport.ts
  src/assets/icons/flight-type-left.svg
  src/assets/icons/flight-type-right.svg
  src/assets/icons/plane-left.svg
  src/assets/icons/plane-right.svg
Due: prettier --write, stylelint --fix, eslint --fix

feat: change table component so it fits both cart & account pages
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/user-account-page.component.html
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: add sorters to table
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.ts
Due: prettier --write, eslint --fix

refactor: names of some methods & properties; scss styles
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/user.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: review comments
  src/app/core/components/header/header.component.ts
  src/app/core/components/progress-bar/progress-bar.component.ts
Due: prettier --write, eslint --fix

refactor: make @use path more explicit in progress-bar SCSS stylesheet
  src/app/core/components/progress-bar/progress-bar.component.scss
Due: prettier --write, stylelint --fix

refactor: rename core/constants/index.ts -> signup.constants.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/core/constants/signup.constants.ts
Due: prettier --write, eslint --fix

feat: replace social-data with better User model
  src/app/core/components/login-form/login-form.component.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/core/components/social-buttons/mockSocialData.ts
  src/app/core/components/social-buttons/social-buttons.component.ts
  src/app/core/models/user.model.ts
Due: prettier --write, eslint --fix

feat: finish implementing booking-flights page (with mocked data)
  src/app/booking/components/date-time-widget/date-time-widget.component.ts
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-carousel/flight-carousel.component.html
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
  src/app/booking/components/flight-details/flight-details.component.html
  src/app/booking/components/flight-details/flight-details.component.scss
  src/app/booking/components/flight-details/flight-details.component.ts
  src/app/booking/models/flights-response.model.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.scss
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-flights-page/mockData.ts
  src/app/booking/pages/mockData.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: review comments
  src/app/shared/models/booking.model.ts
  src/app/shared/pipes/endpoints.pipe.spec.ts
  src/app/shared/pipes/endpoints.pipe.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/shared.module.ts
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/mockBookingsData.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
  src/app/user/pages/user-account-page/user-account-page.component.html
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

feat: add summary markup without tariffs
  src/app/booking/booking.module.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.scss
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/shared/models/booking.model.ts
  src/app/shared/pipes/flights-dates.pipe.spec.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/shared.module.ts
  src/assets/icons/preview.svg
Due: prettier --write, stylelint --fix, eslint --fix

feat: add payment information
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.scss
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/booking/pages/booking-summary-page/mockPaymentData.ts
  src/app/shared/models/booking.model.ts
  src/app/shared/models/payment.model.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: implement main page (flight search)
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/services/airports.service.spec.ts
  src/app/core/services/airports.service.ts
  src/app/flight-search/components/passengers-select/passengers-select.component.html
  src/app/flight-search/components/passengers-select/passengers-select.component.scss
  src/app/flight-search/components/passengers-select/passengers-select.component.spec.ts
  src/app/flight-search/components/passengers-select/passengers-select.component.ts
  src/app/flight-search/constants/index.ts
  src/app/flight-search/flight-search.module.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.html
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.scss
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/interfaces/flight-type.ts
  src/app/shared/interfaces/passengers.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: remove leftover unused component
  src/app/flight-search/components/passengers-select/passengers-select.component.html
  src/app/flight-search/components/passengers-select/passengers-select.component.scss
  src/app/flight-search/components/passengers-select/passengers-select.component.spec.ts
  src/app/flight-search/components/passengers-select/passengers-select.component.ts
  src/app/flight-search/flight-search.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: switch date <-> date-range when flight type changes
  src/app/flight-search/flight-search.module.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.html
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
Due: prettier --write, eslint --fix

feat: add custom validator which requires presence of at least one adult
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.html
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/flight-search/validators/adultValidator.ts
Due: prettier --write, eslint --fix

refactor: move FlightType to types/ folder
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/types/flight-type.ts
Due: prettier --write, eslint --fix

fix: review comments
  src/app/booking/booking.module.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/shared/models/booking.model.ts
  src/app/shared/models/payment.model.ts
Due: prettier --write, eslint --fix

feat: add styles
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.html
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.scss
Due: prettier --write, stylelint --fix

feat: allow only letters for firstName, lastName in booking-passengers
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.html
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
Due: prettier --write, eslint --fix

refactor: add TODO comment about nice-to-have custom validator
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
Due: prettier --write, eslint --fix

refactor: simplify Passengers & PassengerCategory types
  src/app/shared/interfaces/passengers.ts
Due: prettier --write, eslint --fix

fix: increase production budget from 1mb to 1.5mb
  angular.json
Due: prettier --write

fix: use 'flex-end' instead of 'end' in scss styles of summary-page
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.scss
Due: prettier --write, stylelint --fix

fix: add 'curly' rule to ESLint to enforce curly braces around blocks
  .eslintrc.json
Due: prettier --write

refactor: simplify Passengers interface even more
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/shared/interfaces/passengers.ts
Due: prettier --write, eslint --fix

feat: redesign baggage form control in booking-passengers
  src/app/booking/booking.module.ts
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.html
  src/app/booking/pipes/pluralize.pipe.spec.ts
  src/app/booking/pipes/pluralize.pipe.ts
Due: prettier --write, eslint --fix

fix: fix booking.model and mockedData after merge
  src/app/shared/models/booking.model.ts
  src/app/user/pages/shopping-cart-page/mockBookingsData.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
Due: prettier --write, eslint --fix

refactor: rename & move types files to 'types' folders
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-carousel/flight-carousel.component.ts
  src/app/booking/components/flight-details/flight-details.component.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/booking-flights-page/mockData.ts
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
  src/app/booking/pages/booking-passengers-page/mockData.ts
  src/app/booking/pages/booking-summary-page/booking-summary-page.component.ts
  src/app/booking/pages/booking-summary-page/mockBookingData.ts
  src/app/booking/pages/booking-summary-page/mockPaymentData.ts
  src/app/booking/types/airport.ts
  src/app/booking/types/flight.ts
  src/app/booking/types/flights-response.ts
  src/app/core/components/login-form/login-form.component.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/core/components/social-buttons/mockSocialData.ts
  src/app/core/components/social-buttons/social-buttons.component.ts
  src/app/core/services/airports.service.ts
  src/app/core/types/social-data.ts
  src/app/core/types/user.ts
  src/app/flight-search/pages/flight-search-page/flight-search-page.component.ts
  src/app/flight-search/validators/adultValidator.ts
  src/app/shared/interfaces/passengers.ts
  src/app/shared/models/booking.model.ts
  src/app/shared/pipes/flights-dates.pipe.ts
  src/app/shared/types/booking.ts
  src/app/shared/types/passengers.ts
  src/app/shared/types/payment.ts
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/pages/shopping-cart-page/mockBookingsData.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.ts
  src/app/user/pages/user-account-page/mockBookingsData.ts
  src/app/user/pages/user-account-page/user-account-page.component.ts
Due: prettier --write, eslint --fix

fix: update Taiga dependencies (fixes login modal)
  package-lock.json
  package.json
Due: prettier --write

fix: specify same package versions for taiga-ui
  package-lock.json
  package.json
Due: prettier --write

feat: implement login logic and saving token to localStorage
  src/app/core/components/login-form/login-form.component.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.html
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/interfaces/login-data.ts
  src/app/core/interfaces/login-response.ts
  src/app/core/services/auth.service.spec.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/local-storage.service.spec.ts
  src/app/core/services/local-storage.service.ts
  src/app/core/types/user.ts
Due: prettier --write, eslint --fix

feat: implement NgRx store with User info
  src/app/app.module.ts
  src/app/store/actions/user.actions.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/selectors/user.selectors.ts
  src/app/store/state.model.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: implement login notification, reactive header button
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/core.module.ts
Due: prettier --write, eslint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write: ((any of: *.{html,json,md}) or (any of: *.{css,scss})) or (any of: *.[jt]s)
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.[jt]s
