Repository gentoosiast/airways-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix, eslint --fix

feat: add Netlify config
  angular.json
  src/netlify.toml
Due: prettier --write

feat: create SCSS partial with colors & gradients used in the design
  src/app/shared/styles/_colors.scss
Due: prettier --write, stylelint --fix

feat: add 'color-neutral-black'
  src/app/shared/styles/_colors.scss
Due: prettier --write, stylelint --fix

feat: add footer markup
  src/app/core/components/footer/footer.component.html
  src/app/core/components/footer/footer.component.scss
  src/assets/icons/amason-pay.svg
  src/assets/icons/american-express.svg
  src/assets/icons/mastercard.svg
  src/assets/icons/visa.svg
  src/styles.scss
Due: prettier --write, stylelint --fix

fix: footer style
  src/app/core/components/footer/footer.component.scss
Due: prettier --write, stylelint --fix

fix: typo
  src/app/core/components/footer/footer.component.html
  src/assets/icons/amazon-pay.svg
Due: prettier --write

feat: install and configure eslint-plugin-import
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: add error-page markup
  src/app/core/core.module.ts
  src/app/core/pages/not-found-page/not-found-page.component.html
  src/app/core/pages/not-found-page/not-found-page.component.scss
Due: prettier --write, stylelint --fix, eslint --fix

fix: review comments
  src/app/core/core.module.ts
  src/app/core/pages/not-found-page/not-found-page.component.html
Due: prettier --write, eslint --fix

feat: install and enable Taiga UI global styles
  angular.json
  package-lock.json
  package.json
  src/taiga-global.less
Due: prettier --write

fix: enable Taiga UI icons
  angular.json
Due: prettier --write

feat: install @taiga-ui/addon-mobile (required for mobile datepicker)
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --write, eslint --fix

feat: install ng-dompurify sanitizer recommended for 3rd party icons
  package-lock.json
  package.json
  src/app/app.module.ts
Due: prettier --write, eslint --fix

fix: allow CommonJS modules used by Taiga UI
  angular.json
Due: prettier --write

fix: remove style imports already included in taiga-global.less
  angular.json
Due: prettier --write

feat: implement Login/Signup modal with validation
  src/app/app.module.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/components/login-form/login-form.component.html
  src/app/core/components/login-form/login-form.component.scss
  src/app/core/components/login-form/login-form.component.spec.ts
  src/app/core/components/login-form/login-form.component.ts
  src/app/core/components/signup-form/signup-form.component.html
  src/app/core/components/signup-form/signup-form.component.scss
  src/app/core/components/signup-form/signup-form.component.spec.ts
  src/app/core/components/signup-form/signup-form.component.ts
  src/app/core/components/social-buttons/mockSocialData.ts
  src/app/core/components/social-buttons/social-buttons.component.html
  src/app/core/components/social-buttons/social-buttons.component.scss
  src/app/core/components/social-buttons/social-buttons.component.spec.ts
  src/app/core/components/social-buttons/social-buttons.component.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.html
  src/app/core/components/tabbed-forms/tabbed-forms.component.scss
  src/app/core/components/tabbed-forms/tabbed-forms.component.spec.ts
  src/app/core/components/tabbed-forms/tabbed-forms.component.ts
  src/app/core/constants/index.ts
  src/app/core/core.module.ts
  src/app/core/interfaces/social-data.ts
  src/app/shared/shared.module.ts
  src/assets/icons/facebook.svg
  src/assets/icons/google.svg
Due: prettier --write, stylelint --fix, eslint --fix

feat: add asterisks to required input fields
  src/app/core/components/login-form/login-form.component.html
  src/app/core/components/signup-form/signup-form.component.html
Due: prettier --write

feat: implement booking-passengers page
  src/app/booking/booking.module.ts
  src/app/booking/components/passenger-contacts/passenger-contacts.component.html
  src/app/booking/components/passenger-contacts/passenger-contacts.component.scss
  src/app/booking/components/passenger-contacts/passenger-contacts.component.spec.ts
  src/app/booking/components/passenger-contacts/passenger-contacts.component.ts
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.html
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.scss
  src/app/booking/pages/booking-passengers-page/booking-passengers-page.component.ts
  src/app/booking/pages/booking-passengers-page/mockData.ts
  src/app/core/interfaces/social-data.ts
  src/app/shared/interfaces/passengers.ts
  src/assets/icons/contacts.svg
  src/assets/icons/disability.svg
  src/assets/icons/person.svg
Due: prettier --write, stylelint --fix, eslint --fix

feat: add logo & progress bar to header
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/progress-bar/progress-bar.component.html
  src/app/core/components/progress-bar/progress-bar.component.scss
  src/app/core/components/progress-bar/progress-bar.component.spec.ts
  src/app/core/components/progress-bar/progress-bar.component.ts
  src/app/core/core.module.ts
  src/assets/logo.svg
Due: prettier --write, stylelint --fix, eslint --fix

fix: linter
  src/app/core/components/progress-bar/progress-bar.component.ts
Due: prettier --write, eslint --fix

fix: progress bar style
  src/app/core/components/progress-bar/progress-bar.component.scss
Due: prettier --write, stylelint --fix

feat: add forms & buttons to header
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/core.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: linter
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix

fix: change date formats
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: group forms into one
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
Due: prettier --write, stylelint --fix, eslint --fix

refactor: progress bar component
  src/app/core/components/progress-bar/progress-bar.component.ts
Due: prettier --write, eslint --fix

feat: add user settings service
  src/app/core/components/header/header.component.ts
  src/app/core/services/user-settings.service.spec.ts
  src/app/core/services/user-settings.service.ts
Due: prettier --write, eslint --fix

refactor: header component
  src/app/core/components/header/header.component.ts
Due: prettier --write, eslint --fix

feat: add header style
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/progress-bar/progress-bar.component.scss
  src/app/core/components/progress-bar/progress-bar.component.ts
  src/app/core/core.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: add constants for user settings
  src/app/core/components/header/header.component.ts
  src/app/core/constants/user-settings.constant.ts
  src/app/core/services/user-settings.service.ts
Due: prettier --write, eslint --fix

feat: add table for bookings
  package-lock.json
  package.json
  src/app/shared/models/booking-data.model.ts
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.spec.ts
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/constants/shopping-cart.constant.ts
  src/app/user/pages/shopping-cart-page/shopping-cart-page.component.html
  src/app/user/user.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: switch to 'Roboto' font as default
  src/index.html
  src/styles.scss
Due: prettier --write, stylelint --fix

feat: implement menu for editing/deleting booking
  src/app/user/components/bookings-table/bookings-table.component.html
  src/app/user/components/bookings-table/bookings-table.component.scss
  src/app/user/components/bookings-table/bookings-table.component.ts
  src/app/user/user.module.ts
Due: prettier --write, stylelint --fix, eslint --fix

feat: implement flight-selector and flight-card (with mocked data)
  src/app/booking/booking.module.ts
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-card/flight-card.component.scss
  src/app/booking/components/flight-card/flight-card.component.spec.ts
  src/app/booking/components/flight-card/flight-card.component.ts
  src/app/booking/components/flight-selector/flight-selector.component.html
  src/app/booking/components/flight-selector/flight-selector.component.scss
  src/app/booking/components/flight-selector/flight-selector.component.spec.ts
  src/app/booking/components/flight-selector/flight-selector.component.ts
  src/app/booking/interfaces/flight.ts
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.html
  src/app/booking/pages/booking-flights-page/booking-flights-page.component.ts
  src/app/booking/pages/mockData.ts
  src/assets/icons/no-flight.svg
Due: prettier --write, stylelint --fix, eslint --fix

fix: add ::ng-deep pseudo-element to Stylelint whitelist
  .stylelintrc.json
Due: prettier --write

refactor: improve styles for flight-selector & flight-card
  src/app/booking/components/flight-card/flight-card.component.scss
  src/app/booking/components/flight-selector/flight-selector.component.scss
Due: prettier --write, stylelint --fix

feat: implement SeatsDirective (for coloring based on available seats)
  src/app/booking/booking.module.ts
  src/app/booking/components/flight-card/flight-card.component.html
  src/app/booking/components/flight-card/flight-card.component.scss
  src/app/booking/directives/seats.directive.spec.ts
  src/app/booking/directives/seats.directive.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: fix vertical positioning of buttons for flight-selector
  src/app/booking/components/flight-selector/flight-selector.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  prettier --write: ((any of: *.{html,json,md}) or (any of: *.{css,scss})) or (any of: *.[jt]s)
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.[jt]s
